@font-face {
    font-family: SingMing_Angled_Sans;
    src: url("/fonts/SingMing_Angled_Sans.otf");
}

html {
    writing-mode: vertical-rl;
    font-family: 'JetBrain Mono', 'Noto Sans SC', SingMing_Angled_Sans, sans-serif;
}

.tcy {
    text-combine-upright: all
}

.titlebar {
    background-color: thistle;
    overflow: hidden;
}

.titlebar a {
    float: top;
    color: rgba(0, 0, 0, 0.543);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.titlebar a:hover {
    background-color: fuchsia;
    color: black;
}

.titlebar a.active {
    background-color: darkviolet;
    color: white;
}
