@font-face {
    font-family: SingMing_Angled_Sans;
    src: url("/fonts/SingMing_Angled_Sans.otf");
}

html {
    writing-mode: vertical-rl;
    font-family: 'JetBrain Mono', 'Noto Sans SC', SingMing_Angled_Sans, sans-serif;
}

.tcy {
    text-combine-upright: all
}

.titlebar {
    height: 100%;
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    background-color: thistle;
    overflow-x: hidden;
}

.titlebar a {
    float: top;
    color: rgba(0, 0, 0, 0.543);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 30px;
}

.titlebar a:hover {
    background-color: fuchsia;
    color: black;
}

.titlebar a.active {
    background-color: darkviolet;
    color: white;
}

@media screen and (max-height: 450px) {
    .titlebar {
        padding-top: 15px;
    }

    .titlebar a {
        font-size: 18px;
    }
}
